.profile_container {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.profile_description {
  grid-column: 1/2;
  background-color: #224a54;
  height: 100%;
  width: 100%;
  color: #f0f8ff;
}

.profile_photo {
  grid-column: 2/3;
  background-color: brown;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.icon{
  
}
/*box-shadow: 0 5px 15px 0 rgba(90,50,40,.15), 0 4px 8px 0 rgba(80,40,30,.1);*/
