.block_container {
  margin: 100px 200px;
  width: 1440px;
  background-color: rgba(0, 0, 0, 0);
  min-height: 688px;
  color: var(--primary-text-color);
  display: grid;
  grid-template-rows: 140px repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  animation: block-load 1200ms ease-in;
}

.block_title {
  font-size: 160px;
  font-weight: 800;
  height: 180px;
  z-index: 10;
  margin-left: 30px;
  user-select: none;
  grid-row: 1/4;
  grid-column: 1/4;
}

.block_article {
  background-color: var(--secondary-color);
  grid-row: 2/4;
  grid-column: 1/4;
  padding: 40px;
}

@keyframes block-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*zmień padding w article*/
/*background-color: var(--tertiary-color);*/
@media (max-width: 1250px) {
}
