.contact_container {
  background-color: var(--primary-color);
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact_form {
  grid-column: 1/2;
  background-color: aqua;
}

.contact_form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 48px;
}

.contact_form_container > div {
  margin: 18px 0;
}

.contact_form_input {
  position: relative;
}
.contact_form_input > input {
  width: 100%;
  height: 40px;
  padding-left: 80px;
  background-color: #f5ebe0;
  border: 0;
  outline: 0;
}
.contact_form_input_label {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  transition: top 400ms cubic-bezier(0.22, 1.16, 0.73, 0.98);
  cursor: pointer;
}

.contact_form_input > input:focus + .contact_form_input_label {
  top: -20px;
}
.contact_form_textarea {
  position: relative;
}
.contact_form_textarea > textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding-left: 80px;
  padding-top: 10px;
  background-color: #f5ebe0;
  border: 0;
  outline: 0;
}

.contact_form_textarea_label {
  position: absolute;
  left: 0.5em;
  top: 0%;
  transform: translateY(50%);
  transition: top 400ms cubic-bezier(0.22, 1.16, 0.73, 0.98);
  cursor: pointer;
}

.contact_form_textarea > textarea:focus + .contact_form_textarea_label {
  top: -40px;
}

.contact_form_input_span {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #81a7d2;
  transition: width 1000ms cubic-bezier(0.22, 1.16, 0.73, 0.98);
}
.contact_form_input:focus-within .contact_form_input_span {
  width: 76px;
}

.contact_form_textarea_span {
  position: absolute;
  height: 100%;
  width: 0px;
  background-color: #81a7d2;
  transition: width 1000ms cubic-bezier(0.22, 1.16, 0.73, 0.98);
}

.contact_form_textarea:focus-within .contact_form_textarea_span {
  width: 76px;
}

.contact_map {
  grid-column: 2/3;
  background-color: brown;
}

.contact_form_textarea > textarea:focus,
.contact_form_input > input:focus {
  outline: none;
}
